$color-mine-shaft: #333333;
$color-mercury: #e7e7e7;
$color-white: #fff;
$color-pizazz: #ff9600;
$color-sandy-brown: #F0AD4E;
$color-fuel-yellow: #EEA236;
$color-meteor: #d58512;
$color-astral: #337ab7;
$color-bay-of-many: #23527c;
$color-gallery: #eee;