%button {
  border: 0.1rem solid $color-fuel-yellow;
  background-color: $color-sandy-brown;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: normal;
  color: $color-white;
  
  &:hover {
    background-color: $color-fuel-yellow;
    border-color: $color-meteor;
  }
}

.button__download {
  @extend %button;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
}

.button__small {
  @extend %button;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

// .button__yt {
//   @extend %button;
//   padding: 0.5rem 1rem;

//   &:hover {
//     text-decoration: none;
//   }
// }


