extends _component/layout/layout
block awesome-config
  -
    let title = `Roberto Blake Replica`
    let descriptio = `This will be an improved version of Roberto Blake's website`
block awesome-content
